<template>
  <svg
    class="NuxtLogo"
    width="245"
    height="180"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 616.9 132.4"
    style="enable-background:new 0 0 616.9 132.4;"
  >
    <style type="text/css">
      .st0 {
        fill: #03313f;
      }
      .st1 {
        fill: #f53251;
      }
      .st2 {
        fill: #77d9e2;
      }
    </style>
    <g>
      <g>
        <path
          class="st0"
          d="M199.7,112.5c0,12.5-8.7,19.9-18,19.9c-9.3,0-17.8-7.2-17.8-19.9V19.9c0-12.5,8.7-19.9,18-19.9
			c9.3,0,17.8,7.2,17.8,19.9v34.8h-9.3V19.6c0-6.6-4.2-9.8-8.7-9.8c-4.2,0-8.5,3.2-8.5,9.8v93.3c0,6.6,4.3,9.9,8.5,9.9
			c4.5,0,8.7-3.4,8.7-9.9V77.7h9.3V112.5z"
        />
        <path
          class="st0"
          d="M240.6,21.5c0-6.6-4.2-10.3-9-10.3h-8.2v50.5h8.2c4.7,0,9-4,9-10.7V21.5z M249.9,130.3h-9.3V81.9
			c0-7.1-4.3-10.7-9-10.7h-8.2v59.1h-9.3V2.1h18.8c9,0,17,6.3,17,18.9v30.6c0,7.2-3.7,12.5-8.7,14.7c5.1,2.2,8.7,8,8.7,15.5V130.3z"
        />
        <path
          class="st0"
          d="M290.8,19.6c0-6.6-4.2-9.8-8.7-9.8c-4.2,0-8.5,3.2-8.5,9.8v93.3c0,6.6,4.3,9.9,8.5,9.9c4.5,0,8.7-3.4,8.7-9.9
			V19.6z M300.1,112.5c0,12.5-8.7,19.9-18,19.9s-17.8-7.2-17.8-19.9V19.9c0-12.5,8.7-19.9,18-19.9c9.3,0,17.8,7.2,17.8,19.9V112.5z"
        />
        <path
          class="st0"
          d="M349.4,41.2h-9.3V19.9c0-5.3-3.2-9.9-8.8-9.9c-6.3,0-8.3,5.1-8.3,10.3c0,5.3,1.8,12.5,3.5,17.5l18.6,52.9
			c2.2,6.4,4.2,14.9,4.2,21.5c0,14.1-8.8,20.4-17.6,20.4c-9,0-18-6.6-18-19.6V91.2h9.3v21.5c0,5.3,3.4,9.9,8.8,9.9
			c6.1,0,8.3-5.1,8.3-10.3c0-5.3-1.9-13.5-3.7-18.3l-18.8-52.9c-2.2-6.4-4-14.1-4-20.7c0-14.3,8.8-20.4,17.6-20.4
			c9,0,18.1,6.6,18.1,19.6V41.2z"
        />
        <path
          class="st0"
          d="M398,41.2h-9.3V19.9c0-5.3-3.2-9.9-8.8-9.9c-6.3,0-8.3,5.1-8.3,10.3c0,5.3,1.8,12.5,3.5,17.5l18.6,52.9
			c2.2,6.4,4.2,14.9,4.2,21.5c0,14.1-8.8,20.4-17.6,20.4c-9,0-18-6.6-18-19.6V91.2h9.3v21.5c0,5.3,3.4,9.9,8.8,9.9
			c6.1,0,8.3-5.1,8.3-10.3c0-5.3-1.9-13.5-3.7-18.3l-18.8-52.9c-2.2-6.4-4-14.1-4-20.7c0-14.3,8.8-20.4,17.6-20.4
			c9,0,18.1,6.6,18.1,19.6V41.2z"
        />
        <path
          class="st0"
          d="M438.1,81.7c0-7.1-4.2-10.9-8.8-10.9h-8.3v50.3h8.2c4.8,0,9-3.5,9-10.3V81.7z M438.1,21.5
			c0-6.7-4.2-10.3-8.8-10.3h-8.3V62h8.2c4.7,0,9-3.8,9-10.6V21.5z M447.4,112.8c0,11.2-7.9,17.5-16.2,17.5h-19.6V2.1H431
			c8.3,0,16.3,6.3,16.3,17.6v31.6c0,7.5-3.5,12.7-8.5,14.7c5,2.2,8.5,7.2,8.5,14.6V112.8z"
        />
      </g>
      <polygon
        class="st0"
        points="461.8,2.1 461.8,130.3 493.5,130.3 493.5,121.2 471.1,121.2 471.1,70.2 487.3,70.2 487.3,61.1 
		471.1,61.1 471.1,11.2 493.5,11.2 493.5,2.1 	"
      />
      <path
        class="st0"
        d="M521.1,37.8l1.3-16.3l1.1,16.3l6.4,56.4h-15.1L521.1,37.8z M516.9,2.1l-15.2,128.2h9.1l3.2-27.1h16.7l3,27.1
		h9.5L528,2.1H516.9z"
      />
      <polygon
        class="st0"
        points="604.1,2.1 587.6,92.2 585.4,107.1 583.1,92.2 566.6,2.1 553.8,2.1 553.8,130.3 563.1,130.3 
		563.1,41.8 562.9,26.1 565.3,42.2 581.5,130.3 589.2,130.3 605.4,42.2 607.8,26.1 607.6,41.8 607.6,130.3 616.9,130.3 616.9,2.1 	
		"
      />
      <polygon
        class="st1"
        points="49.8,90.5 0,90.5 0,130.3 128.3,130.3 128.3,90.5 78.5,90.5 64.1,66.2 	"
      />
      <polygon
        class="st2"
        points="0,2.1 0,41.9 49.8,41.9 64.1,66.2 78.5,41.9 128.3,41.9 128.3,2.1 	"
      />
    </g>
  </svg>
</template>
<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
